#app-container {
    max-width    : 500px;
    margin       : 0 auto;
    height       : 95vh;
    background   : white;
    border-radius: 10px;
    box-shadow   : 0 3px 6px rgba(0, 0, 0, 0.16),
        0 3px 6px rgba(0, 0, 0, 0.23);
    transform     : translate(0, -50%);
    top           : 50%;
    position      : relative;
    display       : flex;
    flex-direction: column;
}

app-header {
    display: flex;
    height : 80px;
    border-top-left-radius : 10px;
    border-top-right-radius: 10px;
    background: white;
    flex-shrink: 0;
}

app-body {
    flex-grow: 1;
    overflow : hidden;
    display  : flex;
}

app-footer {
    display                   : flex;
    flex-wrap: wrap;
    /* flex-grow: 1; */
    padding                   : 30px 15px;
    align-items               : flex-start;
    /* flex-shrink               : 0; */
    flex-direction: column;

    border-bottom-left-radius : 10px;
    border-bottom-right-radius: 10px;

    background-color: #c0daf1;
}